*{
padding:0;
margin:0;
}
body,html
{
display:flex;
background:black;
height:100%;
width:100%;
background-size:cover;
background-position:center;
overflow:hidden;
}
.nitin
{
width:100%;
max-width:1100px;
margin-left:auto;
margin-right:auto;
background-color:#ccc;
}
h2
{
 
 text-decoration:none;
 position:absolute;
 left:25%;
 
 font-size:170%;
 color:yellow;
 font-style:bold;
 top:25%;
background:rgba(188,188,188,0.1);
 



}




.F li a:hover{
border 1px solid grey;
background-color:grey;
}
.F
{
 
 float:right;
 position:absolute;
 top:10%;
 left:55%;
}

.F li a
{
 border:1px solid grey;
 padding:10px 20px;
background-color:rgba(255,255,0,0.9); 

}
.F li
{
 display:inline-block;
}

@media screen and (max-width:768px)
{
 section{
     width:100%;
  }
 h2{
     width:100%;
  }
}
@media screen and (max-width:320px)
{
.F{
width:100%;
position:absolute;
left:10%;
}
  .Go{
 width:100%;
position:relative;
left:5px;
}
main font
{
font-size:94%;
width:70%;
}

 section font li a{
       width:100%;
  font-size:60%;
  content:center;
  

  }
 h2{
     width:80%;
    position:absolute;
    top:30%;
    left:55px;
    font-size:110%;
  }

}
.glo
{
position:relative;
min-width:750px;
height:750px;
margin:-150px;
transform-origin:right;
animation:colorchange 5s linear infinite;
}
@keyframes colorchange
{
0%{
filter:hue-rotate(0deg);
transform:rotate(0deg);
}
100%{
filter:hue-rotate(360deg);
transform:rotate(360deg);
}
}
.glo:nth-child(even)
{
transform-origin:left;
}
.glo span
{
position:absolute;
top:calc(80px * var(--i));
left:calc(80px * var(--i));
bottom:calc(80px * var(--i));
right:calc(80px * var(--i));
}
.glo span:before
{

position:absolute;
top:50%;
left:-8px;
width:15px;
height:15px;
background:#f00;

}
.glo span:nth-child(3n+1):before
{
  background:rgba(134,255,0,1);
  box-shadow:0 0 20px rgba(134,255,0,1),
0 0 40px rgba(134,255,0,1),
0 0 60px rgba(134,255,0,1),
0 0 80px rgba(134,255,0,1),
0 0 0 8px rgba(134,255,0,0.1);
}

.glo span:nth-child(3n+2):before
{
  background:rgba(255,214,0,1);
  box-shadow:0 0 20px rgba(255,214,0,1),
0 0 40px rgba(255,214,0,1),
0 0 60px rgba(255,214,0,1),
0 0 80px rgba(255,214,0,1),
0 0 0 8px rgba(255,214,0,0.1);
}
.glo span:nth-child(3n+3):before
{
  background:rgba(0,226,225,1);
  box-shadow:0 0 20px rgba(0,226,225,1),
0 0 40px rgba(0,226,225,1),
0 0 60px rgba(0,226,225,1),
0 0 80px rgba(0,226,225,1),
0 0 0 8px rgba(0,226,225,0.1);
}
.glo span:nth-child(3n + 1)
{
animation:animate 10s alternate infinite;

}
.glo span:nth-child(3n + 3)
{
animation:animate 8s alternate infinite;

}
.glo span:nth-child(3n + 2)
{
animation:animate-revers 3s alternate infinite;

}
@keyframes animate-revers
{
0%
{
  transform:rotate(360deg);
}
100%
{
  transform:rotate(0deg);
}
}

@keyframes animate
{
0%
{
  transform:rotate(0deg);
}
100%
{
  transform:rotate(360deg);
}
}




